{%extends "base.html"%}

{%block content%}
This is the Warehouse index
{%endblock%}

{%block submenu%}
	<div class="submenu">
		<a href="/Warehouse/Furnature">Furnature</a>
		<a href="/Warehouse/Apparell">Apparell</a>
		<a href="/Warehouse/Electronics">Electronics</a>
		<a href="/Warehouse/Replicators">Fabrication Hardware</a>
		<a href="/Warehouse/Genetics">Genetics</a>
		<a href="/Warehouse/Nanotech">Nanotech</a>
		<a href="/Warehouse/Robotics">Robotics</a>
		<a href="/Warehouse/Upload">Upload</a>
	</div>
{%endblock%}