{%extends "base.html"%}

{%block content%}

<h1>Kokompe</h1>

<b>Copyright &copy; 2008, the Kokompe Team:</b>
<ul>
	<li>David Dalrymple</li>
	<li>Forrest Green</li>
	<li>Ara Knaian</li>
	<li>Smári McCarthy</li>
	<li>Amy Sun</li>
</ul>

Funding, resources and other help:
<ul>
	<li><a href="http://www.mit.edu">Massachusetts Institute of Technology</a></li>
	<li>FAB Foundation</li>
	<li><a href="http://www.nmi.is">The Icelandic Innovation Center</a></li>
	<li>Fab Lab users around the globe</li>
</ul>

<h2>Legalese</h2>
<p>
See <a href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons</a>
</p>

{%endblock%}
